.brand {
  color: orange;
}

* {
  font-family: "Wix Madefor Display", sans-serif;
}

.font1 {
  font-family: "Montez", cursive;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}


.map-responsive {
  overflow: hidden;
  padding-bottom: 40.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-responsive:hover{
  border: 1px solid black;
  border-radius: 25px;
  transition: all;
}

@media screen and (max-width: 480px) {
  #contactus{
    visibility: hidden;
    margin-top: 0;
  }
}




