.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.circle-text {
  font-size: 1.6em;
}

.circle-text-large {
  font-size: 4em;
}

.circle.light,
.circle.blue {
  flex-direction: column;
}

/* Add this new class for the dark circle */
.circle-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange {
  background-color: #ff5722;
}

.dark {
  background-color: #333;
}

.light {
  background-color: #f5f5f5;
  color: #333;
  border: 2px solid #ededed;
}

.blue {
  background-color: #87ceeb;
}

.arrow-img {
  margin-bottom: 20px;
}
